<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add an activity</title>
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <h2 class="text-center">Add an activity!</h2>
            <form action="/activities/create" method="post" class="col-5 bg-dark text-light">
                <h2 class="text-light my-3">Activity</h2>
            {% with messages = get_flashed_messages(category_filter=['create']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>ALERT ERROR</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
                <div class="form-group">
                    <label for="activity">Activity:</label>
                    <input type="text" name="activity" class="form-control">
                </div>
                <div class="form-group">
                    <label for="duraton">Duration:</label>
                    <input type="text" name="duration" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" name="description" class="form-control">
                </div>
                <input type="submit" class="btn btn-success my-4">
            </form>
        </div>
    </div>
</body>
</html>